[submodule "link/.vim/bundle/vim-pathogen"]
	path = link/.vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "link/.vim/bundle/vim-airline"]
	path = link/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "awesome: assault"]
	path = link/.config/awesome/assault
	url = git://github.com/NuckChorris/assault.git
[submodule "awesome: pulseaudio"]
	path = link/.config/awesome/pulse
	url = https://gist.github.com/7018116.git
[submodule "vim: solarized"]
	path = link/.vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim: nerdtree"]
	path = link/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim: nerdtree tabs"]
	path = link/.vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim: gitgutter"]
	path = link/.vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim: vim-less"]
	path = link/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim: vim-go"]
	path = link/.vim/bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim: vim-hackernews"]
	path = link/.vim/bundle/vim-hackernews
	url = git://github.com/ryanss/vim-hackernews.git
