[submodule "vim: vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim: vim-airline"]
	path = vim/bundle/vim-airline
	url = git://github.com/bling/vim-airline.git
[submodule "vim: solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized
[submodule "vim: nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim: nerdtree-tabs"]
	path = vim/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs.git
[submodule "vim: gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "vim: vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim: vim-go"]
	path = vim/bundle/vim-go
	url = git://github.com/fatih/vim-go.git
[submodule "vim: vim-hackernews"]
	path = vim/bundle/vim-hackernews
	url = git://github.com/ryanss/vim-hackernews.git
[submodule "vim: drawit"]
	path = vim/bundle/vim-drawit
	url = git://github.com/vim-scripts/DrawIt.git
[submodule "vim: vim-better-whitespace"]
	path = vim/bundle/vim-better-whitespace
	url = git://github.com/ntpeters/vim-better-whitespace
[submodule "vim: vim-gundo"]
	path = vim/bundle/vim-gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim: rainbow-parentheses-vim"]
	path = vim/bundle/rainbow-parentheses-vim
	url = git://github.com/kien/rainbow_parentheses.vim.git
[submodule "awesome: assault"]
	path = config/awesome/assault
	url = git://github.com/NuckChorris/assault.git
[submodule "awesome: pulseaudio"]
	path = config/awesome/pulse
	url = git://gist.github.com/7018116.git
